<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName">
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  
    
    <context:property-placeholder location="classpath*:conf.properties"/>
       
    <import resource="database/database-context.xml" />
    <import resource="activiti/activiti-context.xml" />
    
	<!-- 使用annotation 自动注册bean, 先不扫描 Controller注解,否则不开启自动事务 -->
	<context:component-scan base-package="com.proper" />

	<import resource="security/applicationContext-security.xml" />
	
	<import resource="extesion/home-message-extension.xml" />
	<import resource="extesion/applicationContext-role-rule-extension.xml" />
	<import resource="extesion/application-extension-context.xml" />
	<import resource="message-reminding/applicationContext-message-reminding-minzheng.xml" /> 

	<bean id="systemCategory" class="java.lang.String">
		<constructor-arg value="${system.category}"></constructor-arg>
	</bean>
	<bean id="logoutUrl" class="java.lang.String">
		<constructor-arg value="${logout.url}"></constructor-arg>
	</bean>
	
    <!--运维中心系统策略-->
	<bean id="system.category.omc" class="com.proper.uip.api.desktop.service.SystemCategoryStrategy">
		<property name="systemCategoryCode" value="system.category.omc"/>
		<property name="resouceCategoryCodeList">
        		<list>
        		    <value>resource.category.common</value>
            		<value>resource.category.omc</value>
            	</list>
        </property>
	</bean>
	
	<!--业务平台系统策略-->
	<bean id="system.category.management" class="com.proper.uip.api.desktop.service.SystemCategoryStrategy">
		<property name="systemCategoryCode" value="system.category.management"/>
		<property name="resouceCategoryCodeList">
        		<list>
        		    <value>resource.category.common</value>
            		<value>resource.category.management</value>
            	</list>
        </property>
	</bean>
	
</beans>